In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dropout, Dense
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('Churn_Modelling.csv')

In [11]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
X = df.drop(columns = ['RowNumber' , 'CustomerId' , 'Surname' , 'Exited'])
y = df['Exited']

In [15]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,False,True
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,False,True

In [14]:
X = pd.get_dummies(X , columns = ['Gender' , 'Geography'], drop_first = True)

In [16]:
X_train , X_test, y_train, y_test = train_test_split(X, y , random_state = 42, test_size = 0.2)

In [17]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

**Model Building**

In [19]:
model = Sequential()
model.add(Dense(units = 6, input_dim = X_train_scaled.shape[1] , activation = 'relu' )) # input layer
model.add(Dropout(0.3))
model.add(Dense(units = 6, activation = 'relu'))
model.add(Dense(units = 1 , activation = 'sigmoid')) # output layer
model.compile(optimizer = 'adam' , loss = 'binary_crossentropy' , metrics = ['accuracy'])

**Model Training**

In [ ]:
history = model.fit(
    X_train_scaled,
    y_train,
    epochs = 100,
    validation_split = 0.1,
    batch_size = 32,
    verbose = 1
)

In [23]:
y_pred_probability = model.predict(X_test_scaled)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step

In [25]:
y_pred = (y_pred_probability > 0.5).astype(int)

In [26]:
acc = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

In [35]:
print("\n--- Model Evaluation on Test Set ---")
print(f"Accuracy Score: {acc * 100:.2f}%")
print("\n--- Confusion Matrix ---")
print("                 Predicted 'Stay' | Predicted 'Churn'")
print("------------------------------------------------")
print(f"Actual 'Stay'   |    {cm[0][0]} (TN)    |    {cm[0][1]} (FP)")
print(f"Actual 'Churn'  |    {cm[1][0]} (FN)     |    {cm[1][1]} (TP)")

--- Model Evaluation on Test Set ---
Accuracy Score: 83.95%

--- Confusion Matrix ---
                 Predicted 'Stay' | Predicted 'Churn'
------------------------------------------------
Actual 'Stay'   |    1576 (TN)    |    31 (FP)
Actual 'Churn'  |    290 (FN)     |    103 (TP)